@font-face {
    font-family: 'fonte_google';
    src: url(./fontes/Montserrat-VariableFont_wght.ttf);
}

.body {
    background-color: #000000;
    font-family: 'fonte_google';
}

.titulo {
    color: #4110A2;
    font-size: 80px;
    text-align: center;
    margin-top: 1.5%;
}

.logo {
    margin-top: -6%;
    margin-left: 90%;
    height: 150px;
    width: 150px;
}

.container_prods1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 7%;
}

.produto {
    color: white;
    font-size: 15px;
    border: #4110A2 3px solid;
    padding: 8px;
    border-radius: 5px;
    margin: 10px; /* Adicionado margem para espaçamento entre produtos */
    cursor: pointer; /* Cursor pointer por padrão */
}

.produto p {
    margin-left: 2.2%;
}

.produto img {
    height: 180px;
    width: 180px;
    border-radius: 5px;
}

/* Estilos do Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px; /* Limitar a largura máxima */
    border-radius: 10px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos do Carrossel */
.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-prev,
.slick-next {
    background-color: #4110A2;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.carousel {
    width: 100%;
    max-height: 400px; /* Limitar a altura máxima do carrossel */
    overflow: hidden; /* Ocultar o excesso de imagem */
}

.carousel img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    max-height: 400px; /* Limitar a altura máxima das imagens */
    object-fit: cover; /* Manter a proporção da imagem */
}

.product-details {
    text-align: center;
    margin-top: 20px;
}

.product-details h2 {
    color: #4110A2;
    font-size: 24px;
    margin-bottom: 10px;
}

.product-details p {
    color: #333;
    font-size: 18px;
    margin: 5px 0;
}

/* Responsividade */
@media (max-width: 768px) {
    .modal-content {
        width: 90%;
        padding: 10px;
    }

    .titulo {
        font-size: 50px;
    }

    .logo {
        height: 100px;
        width: 100px;
    }

    .produto img {
        height: 150px;
        width: 150px;
    }

    .product-details h2 {
        font-size: 20px;
    }

    .product-details p {
        font-size: 16px;
    }
}